/*** variables ***/
@mixin thumb(){
    border-style: solid;
    border-width: 4px;
    border-color: #fff;
    box-shadow: 0 0 0 1px rgba(#000, .2);
    transition: all 0.5s;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.mainContainer {
    width: 960px;
    margin: 0 auto;
    table {
        width: 100%;
    }
}


.itemContainer {
    ul {
        li {
            border-style: solid;
            border-width: 1px;
            border-color: #dadada;
            box-shadow: 0 0 0 1px rbga(#000, .2);
            transition: all 0.5s;
            text-align: center;
        }
    }
}
